h1 {
  color: #DC143C;
  font-size: 60 px;
  font-family: Comic Sans;
}

h2 {
  color: #ff99ff;
  font-family: Times New Roman;
}

/* body{
  background-color: #D2B48C;
} */

a{
  color: #00FA9A;
  font-family: Times New Roman;
}

img{
  width: 304px; height: 304px;
}

/*iframe{
  width: 608px; height: 304px;
}*/
