h1 {
  color: #DC143C;
  font-size: 60 px;
  font-family: Comic Sans;
}

h2 {
  color: #009933;
  font-family: Times New Roman;
}

h2 {
  color: #009933;
  font-family: Times New Roman;
}

h3 {
  color: #cc0066;
  font-family: Times New Roman;
}

/* body{
  background-color: #D2B48C;
} */

a{
  color: #333300;
  font-family: Courier;
}

img{
  width: 304px; height: 304px;
}

/*iframe{
  width: 608px; height: 304px;
}*/
